- name: Install dependencies
  apt:
    name: "{{ item }}"
    state: present
  become: yes
  with_items:
    - fping

- name: Add librenms group
  group:
    name: "{{ librenms_group }}"
    state: present

- name: Add librenms user
  user:
    name: "{{ librenms_user }}"
    createhome: no
    group: "{{ librenms_group }}"
    groups: www-data
    home: /opt/librenms
    system: yes

- name: add www-data user to librenms group
  user:
    name: www-data
    append: yes
    groups: librenms

- name: Clone librenms from github
  git:
    repo: https://github.com/librenms/librenms.git
    dest: /opt/librenms
    depth: 1
    version: "{{ librenms_version }}"

- name: Create initial SQL setup statements
  template:
    src: librenms.sql.j2
    dest: /tmp/librenms.sql

- name: Create librenms database
  mysql_db:
    name: librenms
    state: present
  register: db_created

- name: Import librenms database statements
  mysql_db:
    name: librenms
    state: import
    target: /tmp/librenms.sql
  when: db_created.changed

- name: setting suid bits on fping
  file:
    path: "{{ item }}"
    owner: root
    group: root
    mode: "u=rws,g=rx,o=rx"
  with_items:
    - /usr/bin/fping
    - /usr/bin/fping6
