<VirtualHost *:80>
  DocumentRoot /opt/librenms/html/
  ServerName  "{{ librenms_server_name }}"

  AllowEncodedSlashes NoDecode
  <Directory "/opt/librenms/html/">
    Require all granted
    AllowOverride All
    Options FollowSymLinks MultiViews
  </Directory>
</VirtualHost>
