<VirtualHost *:80>
  DocumentRoot {{librenms_dir}}/html/
  ServerName  "{{ librenms_server_name }}"

  AllowEncodedSlashes NoDecode
  <Directory "{{librenms_dir}}/html/">
    Require all granted
    AllowOverride All
    Options FollowSymLinks MultiViews
  </Directory>
</VirtualHost>
