agentAddress udp:161,udp6:[::1]:161

rocommunity {{ snmp_community }} localhost
rocommunity {{ snmp_community }} default

syslocation "{{ monitor_location }}"
syscontact "{{ monitor_admin_name}}" <"{{ monitor_admin_email }}">

#Distro Detection
extend .1.3.6.1.4.1.2021.7890.1 distro /usr/bin/distro
